# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Google service configs
/android/app/google-services.json
/android/google-services.json
/ios/Runner/GoogleService-Info.plist
/lib/firebase_options.dart
/ios/firebase_app_id_file.json

# ignore code coverage
/coverage
/*/*/coverage
lcov.*.info
lcov.base.info

# ignore app config settings
ios/Flutter/GoogleMap.xcconfig
ios/Flutter/AppConfig.xcconfig
android/googlemap.properties
android/appconfig.properties

# ignore generated mocks
**/test/**/*.mocks.dart
/lib/generated
packages/**/Flutter

# ignore local properties
packages/nartus_ui_package/android/local.properties

# ignore fvm
.fvm

# ignore other not supported platform
windows/
macos/
linux/
